// fonts
@import './fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Georama&display=swap'); // font-family: 'Caveat', cursive;

@font-face {
    font-family: 'Vazir';
    src: url('./fonts/Vazir/Vazir.eot') format('eot'),
        url('./fonts/Vazir/Vazir.woff2') format('woff2'),
        url('./fonts/Vazir/Vazir.woff') format('woff'),
        url('./fonts/Vazir/Vazir.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    button {
        cursor: pointer;
        user-select: none;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &::selection {
        background-color: #111;
        color: #fff;
    }
}
