// fonts
@import './fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Georama&display=swap'); // font-family: 'Caveat', cursive;

@font-face {
	font-family: "Vazir";
	src: url("./fonts/Vazir/Vazir.eot") format("eot"),
		 url("./fonts/Vazir/Vazir.woff2") format("woff2"),
		 url("./fonts/Vazir/Vazir.woff") format("woff"),
		 url("./fonts/Vazir/Vazir.ttf") format("truetype");
}

* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    button {
        cursor: pointer;
    }

}



html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #111;
    border-radius: 20px;
}


.fa{
    text-align: right;
    font-family: 'Caveat', 'Vazir', cursive;
}

.center{
    text-align: center;
    font-family: 'Caveat', 'Vazir', cursive;
}


