@use '../../sass/variables.sass' as *;
@use '../../sass/mixins.sass';
@use '../../sass/fonts.scss';

.footer-container {
    width: 100%;
    display: flex;
    
    @media (max-width: 500px) {padding: 10px;}
    justify-content: center;
    color: #fff;
    overflow: hidden;

    footer {
        @include fonts.Georama(20px);
        @media (max-width: 500px) {font-size: 18px;}
        .creator {
            @include fonts.Caveat(30px);
            
            cursor: pointer;
            transition: all 300ms;

            &:hover {
                color: #17f1d7;
            }
        }
    }
}
