@use '../../sass/variables.sass' as *;
@use '../../sass/fonts.scss';
@use '../../sass/mixins.sass';

.glories-container {
    @include mixins.box(100%, 100vh);
    color: #fff;
    padding: 100px 30px 30px;
    overflow: hidden;

    .glories {
        @include mixins.box(100%);
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: baseline;

        h2 {
            @include fonts.Caveat(40px);
        }

        .button {
            margin: 20px auto 0;
        }

        .glories-slider {
            @include mixins.box(100%);
            overflow: hidden;
            display: flex;
            align-items: center;
            padding: 60px 0;

            .gicon {
                @include mixins.box(50px);
            }

            .glory {
                @include mixins.box(100%);
                border: 3px solid yellow;
            }
        }
    }
}
