@use '../../sass/variables.sass' as *;
@use '../../sass/fonts.scss';
@use '../../sass/mixins.sass';

.glories-container {
    @include mixins.box(100%, 100vh);
    color: #fff;
    padding: 100px 30px 30px;
    overflow: hidden;

    .glories {
        @include mixins.box(100%);
        border: 1px solid red;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: baseline;

        h2 {
            @include fonts.Caveat(40px);
        }

        .button {
            margin: 20px auto 0;
        }

        .glories-slider {
            @include mixins.box(100%);
            border: 1px solid lightblue;
            overflow: hidden;
            padding: 60px 20px;
            display: flex;
            align-items: center;

            .gicon {
                @include mixins.box(50px);
                cursor: pointer;
                transition: 200ms;

                &:hover {
                    opacity: 0.7;
                }

                &.disable {
                    opacity: 0.3;
                    cursor: default;
                }
            }

            .glorys-top {
                @include mixins.box(100%);
                overflow: hidden;

                .glorys-container {
                    @include mixins.box(100%);
                    display: flex;
                    transition: all 1s;

                    .glory {
                        @include mixins.box(100%);
                        border: 3px solid yellow;
                        flex-shrink: 0;
                        transition: all 500ms;
                    }
                }
            }
        }
    }
}
